<div class="container">
  <%= form_for(@article) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control'%>

    <%= f.label :content %>
    <%= f.text_field :content, class: 'form-control' %>
    <%= f.submit %>
  <% end %>
</div>
